body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-weight: 300;
}

h1 {
    color: whitesmoke;
    font-weight: 700;
}

#map {
    height: 100%;
    position: relative
}
#map h2 {
    font-size: 1.5rem
}
.region {
    fill: none;
    stroke: blue;
    stroke-width: 2;
    vector-effect: non-scaling-stroke;
}

.country {
    fill: #fac484;
    stroke: #f8a07e;
    vector-effect: non-scaling-stroke;
}

.country:hover {
    fill: #f3e79b;
    stroke: #eb7f86;
    stroke-width: 2;
    vector-effect: non-scaling-stroke;
}


@media screen and(min-width: 768px) {
    #map {
        border-bottom: none;
    }

}


#hero {
    background: url('../images/waste-hero.jpeg') no-repeat center center;

    background-size: cover;
    height: 50vh
}

#hero nav a {
    color: #fff;
    transition: color 0.3ms
}
#hero nav a:hover {
    color: #f8a07e
}
.navbar-toggler {
    color: #000;
    background: #fff
}


#footer {
    font-size: 1rem;
}

.my-tooltip {
    background: white;
    border: 1px solid #17a2b8
}
.my-tooltip h2 {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

strong {
    font-weight: 700
}

@media(max-width:768px) {
    #map {
        padding: 0 20px
    }
}

#legend {
    height: 200px;
    width: 100%;
}
